<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.foundations.mapper.RegionMapper">
    <update id="updateBySelf">
        update region
        set manager_name  = #{managerName},
            manager_phone = #{managerPhone}
        where id = #{id};
    </update>


    <select id="countRegionByCityCode" resultType="java.lang.Integer">
        select count(*)
        from region
        where city_code = #{cityCode};
    </select>

    <select id="pageQuery" resultType="com.jzo2o.foundations.model.domain.Region">
        select *
        from region
        <choose>
            <when test="orderBy1 != null and orderBy1 != ''">
                ORDER BY update_time
                <if test="isAsc1">
                    ASC
                </if>
                <if test="!isAsc1">
                    DESC
                </if>
                <if test="orderBy2 != null and orderBy2 != ''">
                    , ${orderBy2}
                    <if test="isAsc2">
                        ASC
                    </if>
                    <if test="!isAsc2">
                        DESC
                    </if>
                </if>
            </when>
            <otherwise>
                <if test="orderBy2 != null and orderBy2 != ''">
                    ORDER BY ${orderBy2}
                    <if test="isAsc2">
                        ASC
                    </if>
                    <if test="!isAsc2">
                        DESC
                    </if>
                </if>
            </otherwise>
        </choose>
        limit #{offset}, #{pageSize}
        ;

    </select>


</mapper>
